@use "../../../styles/variables/colors";
@use "../../../styles/variables/sizes";

mat-toolbar {
    background-color: colors.$primaryColor !important;
    height: sizes.$headerHeight;
    h4#logo {
        cursor: pointer;
    }

    button[mat-icon-button] {
        background-color: rgba(0,0,0,0.1);
        margin-left: 5px;
        &[disabled] {
            color: colors.$textColorWhite;
            opacity: 0.5;
        }
        &.link-active {
            background-color: rgba(0,0,0,0.6);
        }
    }
}

